.deposit-box {
    padding: 20px;
    background: linear-gradient(to bottom, #374dc3, #6475ce);
    border-radius: 5px;
}

.deposit-box .deposit-input {
    background-color: white;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}

.deposit-box input {
    border: none;
    outline: none;
    background-color: inherit;
    color: black;
    padding: 5px;
}

.deposit-box input:focus {
    border: none;
    outline: none;
    background-color: inherit;
    color: black;
}
.deposit-title{
    color:#dbcccc;
}
.deposit-submit{
    background: linear-gradient(to right, #237c5f, #41ad5e);
    color: white;
    border: none;
}
.deposit-submit:hover{
    background: linear-gradient(to right, #41ad5e, #237c5f);
    color: white;
    border: none;
}

.deposit-box input::-webkit-inner-spin-button,
.deposit-box input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.deposit-box input {
    -moz-appearance: textfield;
}