.hotel-btn{
    background: linear-gradient(to right, #11805b, #0f9e48);
    color: white;
    transition: 0.3s ease;
}
.hotel-btn:hover{
    background: linear-gradient(to left, #0e986a, #5db47f);
    color: white;
    
}