.hotel-btn{
    background: linear-gradient(to bottom, #374dc3, #6475ce);
    color: white;
    transition: 0.3s ease;
}
.hotel-btn:hover{
    background: linear-gradient(to bottom, #6475ce, #374dc3);
    color: white;
    
}