.login{
    width: 70%;
    margin: auto;
    padding: 10px;
}
.login .login-card{
    padding: 45px 25px;
    border: none;
}
.login img{
    width: 100%;
}
.login-btn{
    background: linear-gradient(to bottom, #374dc3, #6475ce);
    color: white;
}
.login-btn:hover{
    background: linear-gradient(to bottom, #6475ce, #374dc3);
    color: white;
}
#togglePassword{
    margin-top: -35px !important;
}