.login{
    width: 70%;
    margin: auto;
    padding: 10px;
}
.login .login-card{
    padding: 45px 25px;
    border: none;
}
.login img{
    width: 100%;
}
.login-btn{
    background: linear-gradient(to right, #ff7e5f, #feb47b);
}
#togglePassword{
    margin-top: -35px !important;
}