.reviews-headline{
    margin-top: 100px;
    margin-bottom: 50px;
}

.review-card{
    border: none;
    width: 50%;
    margin: 20px auto;
    background-color: white;
    padding: 15px;
    
}
.review-card .card-header, .review-card .card-footer{
    background-color: inherit;
}
.review-form{
    width: 500px;
    margin: auto;
    background: linear-gradient(45deg, #74b5da, #73abe6);
    margin-top: 50PX;
    margin-bottom: 50PX;
    padding: 20px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.review-holder{
    padding-bottom: 50px;
    max-height: 1000px;
    overflow: auto;
}
.review-card .card-header{
    border: none;
}
.review-card .card-footer{
    border: none;
}
.reviewer-info p{
    margin: 0;
    padding: 0;
}
.review-holder .card-title{
    color: #374dc3;
    font-size: 15px;
}
.review-holder .card-footer button{
    color: gray;
    font-size: 15px;
    padding: 3px;
}
.review-holder .card-body{
    font-size: 14px;
    color: black;
}


/* Scrollbar styles */
.review-holder::-webkit-scrollbar {
    width: 5px; /* Width of the scrollbar */
}

.review-holder::-webkit-scrollbar-thumb {
    background: #374dc3; /* Color of the scrollbar thumb */
    border-radius: 6px; /* Roundness of the scrollbar thumb */
}

.review-holder::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color of the scrollbar track */
    border-radius: 6px; /* Roundness of the scrollbar track */
}
/* Scrollbar styles */
::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
}

::-webkit-scrollbar-thumb {
    background: #374dc3; /* Color of the scrollbar thumb */
    border-radius: 6px; /* Roundness of the scrollbar thumb */
}

::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color of the scrollbar track */
    border-radius: 6px; /* Roundness of the scrollbar track */
}