.navbar{
  background: linear-gradient(to bottom, #374dc3, #6475ce);
}
.navbar-brand,.nav-link{
  color: white !important;
}

.invalid-feedback{
  display: block !important;
}
fieldset{
  padding: 20px
}
legend{
  float: none;
  color: #374dc3;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  font-size: 30px;
}
.regi-btn{
  background: linear-gradient(to bottom, #374dc3, #6475ce);
  color: white;
}
.regi-btn:hover{
  background: linear-gradient(to bottom, #6475ce, #374dc3);
  color: white
}
.regi-submit-alert{
  background-color: green;
  color: white;
  width: 100%;
  margin: 10px auto;
  padding: 10px !important;
  display: flex;
  align-items: center;
}
.regi-submit-alert p{
  margin: 0;
}
#togglePassword{
  cursor: pointer;
  float: right;
  margin-top: -40px;
  margin-right: 10px;
}

.district{
  position: relative;
}
.district:hover{
  opacity: 0.7;
}
.district span{
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  font-weight: bold;
  background-color: #1f611c;
  padding: 5px;
}
.hotel-card{
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 40px;
}
.hotel-card .col-md-4{
  padding-left: 0;
}
#detail-pic{
  position: relative;
}
#more-pic{
  position: absolute;
  bottom: 10px;
  right: 30px;
  width: 100px;
  font-size: 25px;
  cursor: pointer;
}

.room-features{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.rooms{
  margin-top: 50px;
}
.room_price{
  color: black;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
}
.rooms .card-footer button{
  background: linear-gradient(to bottom, #374dc3, #6475ce);
  color: white
}
.rooms .card-footer button:hover{
  background: linear-gradient(to bottom, #6475ce, #374dc3);
  color: white
}
.title{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-top: 50px;
  margin-bottom: 40px;
}
.headline{
  border: 2px solid #374dc3;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.overview ul{
  list-style-type: circle;
}

.district-title{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
}
.caption{
  margin-top: 50px;
  font-weight: bold;
}
.balance{
  color: white;
}
.invalid-feedback{
  font-style: italic;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: red;
}
.valid-feedback{
  font-style: italic;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: green;
  display: block
}

.rating-star{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.rating-star li{
  margin-left: 10px;
  font-size: 15px;
  cursor: pointer;
}
.rating-star li:first-child{
  margin-left:0
}
#comment-box{
  width: 300px;
  height: 100px;
}
.star-color{
  color: rgb(156, 77, 77);
}

#edit-comment-box{
  width: 100%;
}
#edit-comment-box:focus{
  border: 0;
}
#profile-image{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.dropdown-menu{
  left: -12px !important
}
.profile-bar{
  width: 300px;
}
.profile-bar img{
  width: 200px;
  border-radius: 50%;
  display: block;
  margin: auto;
}
.profile-edit-bar{
  border: 1px solid rgb(220, 220, 220);
  padding: 20px;
  border-radius: 10px;
  width: 100%;
}
.profile-edit-bar .review-card{
  width: 100%;
}
.profile-container{
  margin-top: 50px
}
.sub-profile{
  border: 1px solid rgb(220, 220, 220);
  width: 300px;
  padding: 20px;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 15px;
}
.editbox{
  margin-bottom: 10px;
}
.editbox-title{
  border-bottom: 1px solid green;
}
.active-nav{
  border: 2px solid black !important
}

.pass-change{
  color: rgb(50, 214, 255);
  font-size: 14px;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  display: block;
}
.profile-image{
  display: block;
  width: 200px;
  height: 220px;
  margin:auto;
  margin-bottom: 20px;
  border-radius: 50%;
  padding: 5px;
  position: relative;
  overflow: hidden;
}
.profile-image:hover>.change-photo{
  display: block;
}
.change-photo{
  display: none;
  width: 200px;
  height: 30px;
  position: absolute;
  background-color: #1f611c;
  text-align: center;
  bottom: 80px;
  cursor: pointer;
  color: white
}
.nav-link{
  color: black;
}

.district-nav{
  width: 200px;
  padding: 10px;
  text-decoration: none;
  margin-bottom: 20px;
  color: black;
  border: 1px solid #374dc3;
  border-radius: 5px;
}
#district-nav-active{
  color: white;
  background: linear-gradient(to bottom, #374dc3, #6475ce);
}
.district-nav:hover{
  background: linear-gradient(to bottom, #6475ce, #374dc3);
  color: white
}
.no-results{
  width: 200px;
  font-size: 25px;
  color: #c08989;
  margin: 20px;
}
.empty-box{
  min-height: 500px;
}
.main{
  min-height: 500px;
}

.footer{
  margin-top: 100px;
  background: linear-gradient(to bottom, #374dc3, #6475ce);
  padding: 40px 0;
}
.footer ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-family:Georgia, 'Times New Roman', Times, serif
}
.footer ul li{
  color:#fff;
  margin-top: 25px;
  cursor: pointer;
}
.footer h5{
  color: #fff;
}


.review-img{
  width: 70px;
  height: 80px;
  border-radius: 50%;
}
.review-date{
  color: gray;
  font-size: 15px !important;
}
#birth-date .form-floating>label{
  left: 10px;
}
.reviews{
  border-radius: 15px;
}
.reviews .card{
  width: 50%;
}
.hotel-images,.hotel-image{
  cursor: pointer;
}

.loader{
  margin: auto;
  width: 100px;
  height: 100px;
}
.price{
  color: #0d7190;
}

.single-image{
  overflow: hidden;
}
.close{
  position: absolute;
  right: 0;
  top: 0;
  font-weight: bold;
  font-size: 40px;
  background-color: white;
}
.auth-success-terms{
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
  color:#6475ce;
}
.auth-success-terms a{
  color: #0d7190;
}
.form-floating>label{
  left: 10px;
}
.navbar-nav .nav-item{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.navbar-nav .active-nav-link{
  height: 3px;
  width: 30px;
  background-color: #00b1ff;
  position: relative;
  bottom: 6px;
}
.navbar-brand{
  margin-right: 50px;
}
.rooms .card{
  border: none;
  border-radius: 10px;
  overflow: hidden;
  padding-bottom: 10px;
}
.rooms .card-header{
  padding: 0;
  border: none;
  background: none;
}
.rooms .card-body{
  border:none;
  background: none;
}
.rooms .card-footer{
  border: none;
  background: none;
}
.navbar-toggler{
  background-color: white;
}
.profile-container .text-success{
  color: #374dc3 !important;
}
.profile-container .btn-success{
  background: linear-gradient(to right, #374dc3, #6475ce);
}
.profile-container .btn-success:hover{
  background: linear-gradient(to right, #6475ce, #374dc3);
}
.accordion-header button{
  font-weight: 600;
}